.vjs-modal-dialog-content {
  display: none !important;
}

.vjs-error-display {
  display: none !important;
}

.vjs-error {
  display: none !important;
}

.vjs-modal-dialog {
  display: none !important;
}
